{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 top_align">
        <!-- this the card that would have the data about consumption -->
        <div class="card text-center">
            <div class="card-header"> Alert: Electricity Issues Expected</div>
            <div class="card-body">
                <!-- this is where we need a link from the switch data to 
                show where the current consumption -->
              <div class="sos">
                15kW
              </div>
              <p class="card-text">Current consumption may be disrupted</p>
            <!-- in future versions this is where a link would show you the breakdown of 
            where the current cosumption is coming from -->
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <!-- this is where there would actually be a graph showing
                        the customers consumption compared to their usual -->
                      <p class="card-text">You can pay RS 150 for 2 hrs for uninterrupted electricity</p>
                      <button class="btn dark_on_light_buttonG_2 btn-block" style="background-color: #0081E2;"type="button"onclick="location.href='/confirmbuy'">Buy</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <!-- this would show the customer their consumption relative to
                    their neighbours -->
                      <p class="card-text">You can make RS 150 if you disconnect from the grid for 2 hrs </p>
                      <button class="btn dark_on_light_buttonG_2 btn-block" type="button" onclick="location.href='/confirmsell'">Sell</button>
                    </div>
                </div> 
            </div>    
        </div>  
    </div>
    <div class="col-md-3"></div>
</div>
{{super()}}

{% endblock %}

