{% extends "bootstrap/base.html" %}

{% block title%}
Cleantecher 
{% endblock %}

{% block head %}
{{super()}}
<link rel="icon" href="{{ url_for('static', filename='teal.png') }}" type="image/gif" sizes="16x16">
{% endblock %}

{% block styles %}
{{super()}}
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='scripts.js')}}"></script>
{% endblock %}

{% block navbar %}
<div class="main_body">
    <nav class="navbar navbar-expand-md  navbar-custom navbar-dark ">
        <div class ="container">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/status">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="switchsettings">Switch Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="usersettings">User Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="paysetup">Pay Settings</a>
                        </li>
                    </ul>
                </div>
        </div>
    </nav>  
</div>

{% endblock %}




{% block content %}
<div class="foot"> 
    Xlock is inspired by the
    <a href="https://en.wikipedia.org/wiki/Axon_hillock#:~:text=The%20axon%20hillock%20is%20the,action%20potentials%E2%80%94the%20trigger%20zone." 
    style="font-weight: bold; color: white;">
         Axion Hillox
    </a> 
</div>
{% endblock %}