{% extends "base.html" %}

{% block body %}
<body class="iniital">
    <div class="container">
        <div class="row">
            <div class="col-md-3"> </div>
            <div class="col-md-6">
                <div class="row h-100">
                    <div class= "col ">
                        <div class="vertical_align">
                        <h2 class="dark_background">Welcome cleantecher!</h2>
                        <p class="dark_background"> Lets get you started</p>
                    </div>
                    </div>
                </div>
                <div class="row h-50"> 
                    <div class="col ">
                            <button type="button" class="btn-lg light_on_dark_button btn-block ">New User</button>
                    </div>
                </div>
                <div class="row h-50"> 
                    <div class="col ">
                        <button type="button" class="btn-lg dark_on_light_button btn-block ">Existing User</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>  
    </div>
</body>
{% endblock %}