{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
            <div class="selection" style="margin-top: 20px; background-color:#595959; color: #f2f2f2; font-weight: bold;">Buy Settings </div>
             <div class="selection" style="margin-top: 5px;">Auto Buy
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
             </div> 
             <div class="selection" style="margin-top: 5px;">Buy when price is over XX 
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
             </div> 
             <div class="selection" style="margin-top: 5px;">Confirm all purchases 
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
             </div> 
             <div class="selection" style="margin-top: 20px;background-color:#595959; color: #f2f2f2; font-weight: bold;">Sell Settings </div>
             <div class="selection" style="margin-top: 5px;">Auto Sell
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
             </div> 
             <div class="selection" style="margin-top: 5px;">Sell when price is over XX 
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
             </div> 
             <div class="selection" style="margin-top: 5px;">Confirm all sales 
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
             </div> 
             <div class="row">
                <div class="col">
                    <button class="btn dark_on_light_buttonG_2 btn-block" style="background-color: #0081E2; margin-top: 5px; border-radius: 20px; " type="button" onclick="location.href='/status'" >
                        Cancel 
                    </button>
                  </div>
                  <div class="col">
                    <button class="btn dark_on_light_buttonG_2 btn-block" type="button" style="margin-top: 5px; border-radius: 20px;"onclick="location.href='/status'">
                        Confirm Changes
                    </button>
                  </div>
              </div>
        </div>  
    </div>
    <div class="col-md-3"></div> 
</div>
{{super()}}
{% endblock %}